<% if flash[:success].present? %>
  <article class="notification is-success is-light">
    <i class="fa fa-check"></i>
    <%= flash[:success] %>
  </article>
<% end %>

<%= form_with model: [@party, @invite], url: party_invite_path(@party.invite_param, @invite.invite_param), html: { class: 'form' } do |i| %>
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Lista de Convidados</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= i.fields_for :guests, @guests.order(:name) do |g| %>
        <tr>
          <td><%= g.object.name %></td>
          <td>
            <div class="control">
              <%= g.select :status, options_for_select(Guest.statuses.map { |k, v| [Guest.human_enum_name(:status, k), k] }, g.object.status), {}, class: "select" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="field">
    <p class="control">
      <%= i.submit 'Salvar', class: 'button is-success' %>
    </p>
  </div>
<% end %>
