<article class="message is-link animate__animated animate__pulse">
  <div class="message-body">
    Os convidados foram escolhidos com muito carinho pelos anfitriões. Caso você sinta falta de alguém na lista entre em contato com eles.
  </div>
</article>

<% if flash[:success].present? %>
  <article class="message is-success animate__animated animate__pulse">
    <div class="message-body">
      <%= flash[:success] %>
    </div>
  </article>
<% end %>

<%= form_with model: [@party, @invite], url: party_invite_path(@party.invite_param, @invite.invite_param), html: { class: 'form' } do |i| %>
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Nome do Convidado</th>
        <th>Sua Presença está?</th>
      </tr>
    </thead>
    <tbody>
      <%= i.fields_for :guests, @guests.order(:name) do |g| %>
        <tr>
          <td><%= g.object.name %> <%= g.object.status %></td>
          <td>
            <div class="control">
              <label class="radio">
                <%= g.radio_button :status, :confirmed, class: 'radio', required: true %>
                Confirmada
              </label>
              <label class="radio">
                <%= g.radio_button :status, :does_not_come, class: 'radio', required: true %>
                Não vem
              </label>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="field">
    <p class="control">
      <%= i.submit 'Salvar', class: 'button is-success' %>
    </p>
  </div>
<% end %>
