<turbo-frame id="invites">
  <%= link_to "Novo Convite", new_admin_party_invite_path(@party.admin_param) %>
  <%= link_to "Exportar", admin_party_invites_path(@party.admin_param, format: 'xlsx') %>
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Família</th>
        <th>Link</th>
        <th>Sem Resposta</th>
        <th>Vem</th>
        <th>Não Vem</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% total_does_not_come = 0 %>
      <% total_confirmed = 0 %>
      <% total_unanswered = 0 %>

      <% @invites.each do |i| %>
        <tr>
          <td><%= i.family_name %></td>
          <td><%= party_invite_url(@party.invite_param, i.invite_param) %></td>
          <td><%= i.guests.where(status: 0).count.then { |s| total_unanswered += s ; s } %></td>
          <td><%= i.guests.where(status: 1).count.then { |s| total_confirmed += s ; s } %></td>
          <td><%= i.guests.where(status: 2).count.then { |s| total_does_not_come += s ; s } %></td>
          <td><%= link_to 'Editar', edit_admin_party_invite_path(@party.admin_param, i.invite_param) %></td>
          <td><%= link_to 'Remover', admin_party_invite_path(@party.admin_param, i.invite_param), method: :delete, data: { "turbo-method": :delete } %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th></th>
        <th><%= total_unanswered %></th>
        <th><%= total_confirmed %></th>
        <th><%= total_does_not_come %></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</turbo-frame>
