<turbo-frame id="invites">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Nome da Família</th>
        <th>Link</th>
        <th>Não Responderam</th>
        <th>Confirmados</th>
        <th>Não Vem</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @invites.each do |i| %>
        <tr>
          <td><%= i.family_name %></td>
          <td><%= invite_url(i.invite_param) %></td>
          <td><%= i.guests.where(status: 0).count %></td>
          <td><%= i.guests.where(status: 1).count %></td>
          <td><%= i.guests.where(status: 2).count %></td>
          <td><%= link_to 'Editar', edit_admin_party_invite_path(@party.admin_param, i.invite_param) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Novo Convite", new_admin_party_invite_path(@party.admin_param) %>
</turbo-frame>
