<turbo-frame id="invites" autoscroll="true">
  <h1 class='title'>Festa: <%= @party.name %> > Novo Convite</h1>

  <%= form_with model: [:admin, @party, @invite], url: admin_party_invites_path(@party.admin_param), html: { class: 'form' } do |p| %>
    <div class="field">
      <%= p.label :family_name, class: 'label required' %>
      <div class="control">
        <%= p.text_field :family_name, class: "input", required: true %>
      </div>
    </div>

    <div class="field">
      <p class="control">
        <%= p.submit 'Salvar', class: 'button is-success' %>
        <%= link_to 'Voltar', admin_party_invites_path(@party.admin_param), class: 'button' %>
      </p>
    </div>
  <% end %>
</turbo-frame>
