<!DOCTYPE html>
<html>
  <head>
    <title>Partyvip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <% style = '' %>
  <% style += "background: #{@party&.color}80;" if @party&.color %>
  <% style += "background-image: url(#{rails_blob_path(@party.background)});background-repeat: no-repeat;background-size: cover;" if @party&.background&.attached? %>

  <body style='<%= style %>'>
    <section class="main section">
      <div class="card party-card">
        <% if @party %>
          <div class="content">
            <section class="hero" id='hero-party-name' style='<%= "background: #{@party&.color}" if @party&.color %>'>
              <div class="hero-body">
                <p class="title" style='<%= "color: white"%>'>
                  <%= @party.name %>
                </p>
              </div>
            </section>
          </div>
        <% end %>
        <div class='card-content'>
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
